## Strings

In [5]:
a <- 'Start and end with single quote'
print(a)

b <- "Start and end with double quotes"
print(b)

c <- "single quote ' in between double quotes"
print(c)

d <- 'Double quotes " in between single quotes'

[1] "Start and end with single quote"
[1] "Start and end with double quotes"
[1] "single quote ' in between double quotes"

In [6]:
e <- 'Mixed quotes"
print(e)

f <- 'single quote' inside single quote'
print(f)

g <- "Double quotes" inside double quotes"
print(g)

ERROR: Error in parse(text = x, srcfile = src): <text>:4:7: unexpected symbol
3:
4: f <- 'single
         ^

In [ ]:
# String Manipulation

a <- "Hello"
b <- 'How'
c <- "are you? "

print(paste(a,b,c))

print(paste(a,b,c, sep = "_"))

print(paste(a,b,c, sep = "", collapse = ""))

In [ ]:
# Formatting numbers & strings - format() function

# Rounding off digits

result <- format(23.123456789, digits = 9)
print(result)

# Display numbers in scientific notation

result <- format(c(6, 13.14521), scientific = TRUE)
print(result)

# The minimum number of digits to the right fo the decimal point.

result <- format(23.47, nsmall = 5)
print(result)

# Format treats everyting as string

result <- format(6)
print(result)

# Justify string with center

result <- format("Hello", width = 8, justify = "c")
print(result)

In [ ]:
# counting number of characters in a string - ncar() function

result <- nchar("Count the number of characters")
print(result)

In [ ]:
# Changing to Upper case

result <- toupper("Changing to Upper")
print(result)

# Changing to Lower case

result <- tolower("Changing To Lower")
print(result)

In [ ]:
# Extract characters from 5th to 7th position

result <- substring("Extract", 5, 7)
print(result)

## Vector Creation

In [ ]:
# Six type of Atomic vectors

# Atomic vector of type character.

print("abc");

# Atomic vector of type double

print(12.5)

# Atomic vector of type integer

print(63L)

# Atomic vector of type logical

print(TRUE)

# Atomic vector of type complex

print(2+3i)

# Atomic vector of type raw

print(charToRaw('hello'))

In [ ]:
# Multiple Elements Vector

v <- 5:13
print(v)

v <- 6.6:12.6
print(v)

v <- 3.8:11.4
print(v)

In [ ]:
# Create vector with elements from 5 to 9 incrementing by 0.4

print(seq(5,9, by = 0.4))

In [7]:
# Using the c() function

# The logical and numeric values are converted to characters

s <- c('apple', 'red', 5, TRUE)
print(s)

[1] "apple" "red"   "5"     "TRUE"

In [8]:
# Accesing vector elements using position

t <- c("Sun", "Mon", "Tue", "Wed", "Thrus", "Fri", "Sat")
u <- t[c(2,3,6)]
print(u)


# Accesing vector elements using logical indexing

v <- t[c(TRUE, FALSE, FALSE, FALSE, FALSE, TRUE, FALSE)]
print(v)


# Accessing vector elements using 0/1 indexning

x <- t[c(-2,-5)]   # This removes 2 nd and 5 th element
print(x)


# Accessing vector elements using 0/1 indexing

y <- t[c(0,0,0,0,0,0,1)]
print(y)

[1] "Mon" "Tue" "Fri"
[1] "Sun" "Fri"
[1] "Sun" "Tue" "Wed" "Fri" "Sat"
[1] "Sun"

In [9]:
# Vector Manipulation

# Creating two vectors 

v1 <- c(3,8,4,5,0,11)
v2 <- c(4,11,0,8,1,2)


# Adding the vectors

add.result <- v1+v2
print(add.result)

# Vector subraction

sub.result <- v1-v2
print(sub.result)

# Vector multiplication

multi.result <- v1*v2
print(multi.result)

# Vector division

divi.result <- v1/v2
print(divi.result)

[1]  7 19  4 13  1 13
[1] -1 -3  4 -3 -1  9
[1] 12 88  0 40  0 22
[1] 0.7500000 0.7272727       Inf 0.6250000 0.0000000 5.5000000

In [10]:
# Vector element Recycling

v1 <- c(3,8,4,5,0,11)
v2 <- c(4,11)
# v2 becomes c(4,11,4,11,4,11)

add.result <- v1+v2
print(add.result)

sub.result <- v1-v2
print(sub.result)

[1]  7 19  8 16  4 22
[1] -1 -3  0 -6 -4  0

In [11]:
# Vector element Sorting

v <- c(3,8,4,5,0,11,-9,304)

# Sort the elements of the vector 

sort.result <- sort(v)
print(sort.result)

# Sort the elements in the reverse order

revsort.result <- sort(v, decreasing = TRUE)
print(revsort.result)

[1]  -9   0   3   4   5   8  11 304
[1] 304  11   8   5   4   3   0  -9

## Lists

In [12]:
# Create a list containing strings, numbers, vectors and a logical values.

list_data <- list("Red", "Green", c(21,32,11), TRUE, 51.23, 119.1)
print(list_data)

[[1]]
[1] "Red"

[[2]]
[1] "Green"

[[3]]
[1] 21 32 11

[[4]]
[1] TRUE

[[5]]
[1] 51.23

[[6]]
[1] 119.1

In [13]:
# Create a list containing a vector, a matrix and a list.

list_data <- list(c("Jan", "Feb", "Mar"), matrix(c(3,9,5,1,-2,8), nrow  = 2), list("green", 12.3))
                  
names(list_data) <- c("1st Quater", "A_Matrix", "A Inner list")
                  
print(list_data)

$`1st Quater`
[1] "Jan" "Feb" "Mar"

$A_Matrix
     [,1] [,2] [,3]
[1,]    3    5   -2
[2,]    9    1    8

$`A Inner list`
$`A Inner list`[[1]]
[1] "green"

$`A Inner list`[[2]]
[1] 12.3

In [14]:
# Accessing List Elements

print(list_data[1])

print(list_data[3])

print(list_data$A_Matrix)

$`1st Quater`
[1] "Jan" "Feb" "Mar"

$`A Inner list`
$`A Inner list`[[1]]
[1] "green"

$`A Inner list`[[2]]
[1] 12.3


     [,1] [,2] [,3]
[1,]    3    5   -2
[2,]    9    1    8

In [15]:
 # Manipulating List Elements

list_data[4] <- "New element"
print(list_data[4])

list_data[4] <- NULL

print(list_data[4])

list_data[3] <- "updated element"
print(list_data[3])

[[1]]
[1] "New element"

$<NA>
NULL

$`A Inner list`
[1] "updated element"

In [16]:
# Merging Lists

list1 <- list(1,2,3)
list2 <- list("sun","mon","tues")

# Merge the two lists

merged.list <- c(list1, list2)

# Print the merged list

print(merged.list)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] "sun"

[[5]]
[1] "mon"

[[6]]
[1] "tues"

In [17]:
# Converting List to Vector

list1 <- list(1:5)
print(list1)

list2 <- list(10:14)
print(list2)

# Convert the lists to vectors 

v1 <- unlist(list1)
v2 <- unlist(list2)

print(v1)
print(v2)

# Now add the vectors

result <- v1 + v2
print(result)

[[1]]
[1] 1 2 3 4 5

[[1]]
[1] 10 11 12 13 14

[1] 1 2 3 4 5
[1] 10 11 12 13 14
[1] 11 13 15 17 19

## Matrix

In [18]:
# Elements are arranged sequentially by row

M <- matrix(c(3:14), nrow = 4, byrow = TRUE)
print(M)


# Elements are arranged sequentially by column

N <- matrix(c(3:14), nrow = 4, byrow = FALSE)
print(N)

# Define the column and row names

rownames = c("row1", "row2", "row3", "row4")
colnames = c("col1", "col2", "col3")


P <- matrix(c(3:14), nrow = 4, byrow = TRUE, dimnames = list(rownames, colnames))
print(P)

     [,1] [,2] [,3]
[1,]    3    4    5
[2,]    6    7    8
[3,]    9   10   11
[4,]   12   13   14
     [,1] [,2] [,3]
[1,]    3    7   11
[2,]    4    8   12
[3,]    5    9   13
[4,]    6   10   14
     col1 col2 col3
row1    3    4    5
row2    6    7    8
row3    9   10   11
row4   12   13   14

In [19]:
# Accessing Elements of a Matrix

print(P[1,3])

print(P[4,2])

print(P[2,1])

print(P[,3])

[1] 5
[1] 13
[1] 6
row1 row2 row3 row4
   5    8   11   14

In [20]:
# Matrix addition and Subtraction

matrix1 <- matrix(c(3,9,-1,4,2,6), nrow = 2)
print(matrix1)

matrix2 <- matrix(c(5,2,0,9,3,4), nrow = 2)
print(matrix2)

result <- matrix1 + matrix2
cat("Result of addition", "\n")
print(result)

result <- matrix1 - matrix2
cat("Result of subraction","\n")
print(result)

     [,1] [,2] [,3]
[1,]    3   -1    2
[2,]    9    4    6
     [,1] [,2] [,3]
[1,]    5    0    3
[2,]    2    9    4
Result of addition
     [,1] [,2] [,3]
[1,]    8   -1    5
[2,]   11   13   10
Result of subraction
     [,1] [,2] [,3]
[1,]   -2   -1   -1
[2,]    7   -5    2

In [21]:
# Matrix multiplication and Division

result <- matrix1 * matrix2
cat("Result of multiplication","\n")
print(result)


result <- matrix1 / matrix2
cat("Result of division","\n")
print(result)

Result of multiplication
     [,1] [,2] [,3]
[1,]   15    0    6
[2,]   18   36   24
Result of division
     [,1]      [,2]      [,3]
[1,]  0.6      -Inf 0.6666667
[2,]  4.5 0.4444444 1.5000000

## Arrays

In [22]:
vector1 <- c(5,9,3)
vector2 <- c(10,11,12,13,14,15)

results <- array(c(vector1, vector2), dim = c(3,3,2))
print(result)

     [,1]      [,2]      [,3]
[1,]  0.6      -Inf 0.6666667
[2,]  4.5 0.4444444 1.5000000

In [23]:
# Naming Columns and Rows
# Create two vectors of different lengths

vector1 <- c(5,9,3)
vector2 <- c(10,11,12,13,14,15)

column.names <- c("COL1","COL2","COL3")

row.names <- c("ROW1", "ROW2", "ROW3")

matrix.names<- c("Matrix1", "Matrix2")

result <- array(c(vector1, vector2), dim = c(3,3,2), dimnames = list(row.names, column.names, matrix.names))

print(result)

, , Matrix1

     COL1 COL2 COL3
ROW1    5   10   13
ROW2    9   11   14
ROW3    3   12   15

, , Matrix2

     COL1 COL2 COL3
ROW1    5   10   13
ROW2    9   11   14
ROW3    3   12   15

In [24]:
# Accessing Array Elements

print(result[3,,2])

print(result[1,3,1])

print(result[,,2])

COL1 COL2 COL3
   3   12   15
[1] 13
     COL1 COL2 COL3
ROW1    5   10   13
ROW2    9   11   14
ROW3    3   12   15

In [25]:
# Manipulating Array elements

array1 <- array(c(vector1,vector2), dim = c(3,3,2))

vector3 <- c(9,1,0)

vector4 <- c(6,0,11,3,14,1,2,6,9)

array2 <- array(c(vector1,vector2), dim = c(3,3,2))


# Create matrices from these arrays.

matrix1 <- array1[,,2]

matrix2 <- array2[,,2]

# Add the matrices.

result <- matrix1 + matrix2

print(result)

     [,1] [,2] [,3]
[1,]   10   20   26
[2,]   18   22   28
[3,]    6   24   30

In [26]:
# Calculations across array elements

new.array <- array(c(vector1, vector2), dim = c(3,3,2))
print(new.array)

# Use apply to calculate the sum of the rows across all the matrics

result <- apply(new.array, c(1), sum)
print(result)

, , 1

     [,1] [,2] [,3]
[1,]    5   10   13
[2,]    9   11   14
[3,]    3   12   15

, , 2

     [,1] [,2] [,3]
[1,]    5   10   13
[2,]    9   11   14
[3,]    3   12   15

[1] 56 68 60

## Factors

In [29]:
data <- c("East","West","East","North","North","East","West","West","West","East","North")

print(data)

print(is.factor(data))

# Apply the factor function

factor_data <- factor(data)

print(factor_data)
print(is.factor(factor_data))

 [1] "East"  "West"  "East"  "North" "North" "East"  "West"  "West"  "West"
[10] "East"  "North"
[1] FALSE
 [1] East  West  East  North North East  West  West  West  East  North
Levels: East North West
[1] TRUE

In [30]:
# Factors in Data Frame

# Create the vectors for the data frame

height <- c(132,151,162,139,166,147,122)

weight <- c(48,49,66,53,67,52,40)

gender <- c("male","male","female","female","male","female","male")


# Create the data frame

input_data <- data.frame(height, weight, gender)

print(input_data)


# Test if the gender column is a factor

print(is.factor(input_data$gender))

# Print the gender column so see the levels.

print(input_data$gender)

  height weight gender
1    132     48   male
2    151     49   male
3    162     66 female
4    139     53 female
5    166     67   male
6    147     52 female
7    122     40   male
[1] TRUE
[1] male   male   female female male   female male
Levels: female male

In [31]:
# Changing the order of levels

new_order_data <- factor(factor_data, levels = c("East", "West", "North"))
print(new_order_data)

 [1] East  West  East  North North East  West  West  West  East  North
Levels: East West North

In [33]:
v <- gl(3,4, labels = c("Tampa", "Seattle", "Boston"))
print(v)

 [1] Tampa   Tampa   Tampa   Tampa   Seattle Seattle Seattle Seattle Boston
[10] Boston  Boston  Boston
Levels: Tampa Seattle Boston

## Dataframe

In [1]:
# Create a data frame

emp.data <- data.frame(
    emp.id = c(1:5),
    emp_name = c("Rick", "Dan", "Michelle", "Ryan", "Gary"),
    salary = c(623.3, 515.2, 611.0, 729.0, 843.25),
    
    start_date = as.Date(c("2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11",
      "2015-03-27")),
    stringAsFactors = FALSE
)


# Print the data frame

print(emp.data)

  emp.id emp_name salary start_date stringAsFactors
1      1     Rick 623.30 2012-01-01           FALSE
2      2      Dan 515.20 2013-09-23           FALSE
3      3 Michelle 611.00 2014-11-15           FALSE
4      4     Ryan 729.00 2014-05-11           FALSE
5      5     Gary 843.25 2015-03-27           FALSE

In [2]:
# Extract Data from Data Frame

print(summary(emp.data))

     emp.id      emp_name     salary        start_date         stringAsFactors
 Min.   :1   Dan     :1   Min.   :515.2   Min.   :2012-01-01   Mode :logical
 1st Qu.:2   Gary    :1   1st Qu.:611.0   1st Qu.:2013-09-23   FALSE:5
 Median :3   Michelle:1   Median :623.3   Median :2014-05-11
 Mean   :3   Rick    :1   Mean   :664.4   Mean   :2014-01-14
 3rd Qu.:4   Ryan    :1   3rd Qu.:729.0   3rd Qu.:2014-11-15
 Max.   :5                Max.   :843.2   Max.   :2015-03-27

In [4]:
# Extract first two rows

result <- emp.data[1:2]
print(result)

  emp.id emp_name
1      1     Rick
2      2      Dan
3      3 Michelle
4      4     Ryan
5      5     Gary

In [5]:
result <- emp.data[c(3,5), c(2,4)]
print(result)

  emp_name start_date
3 Michelle 2014-11-15
5     Gary 2015-03-27

In [6]:
# Extract Data from Data Frame

result <- data.frame(emp.data$emp_name, emp.data$salary)
print(result)

  emp.data.emp_name emp.data.salary
1              Rick          623.30
2               Dan          515.20
3          Michelle          611.00
4              Ryan          729.00
5              Gary          843.25

In [7]:
# Extract first two rows

result <- emp.data[1:2,]
print(result)

  emp.id emp_name salary start_date stringAsFactors
1      1     Rick  623.3 2012-01-01           FALSE
2      2      Dan  515.2 2013-09-23           FALSE

In [8]:
# Extract 3rd and 5th row with 2nd and 4th column

result <- emp.data[c(3,5), c(2,4)]
print(result)

  emp_name start_date
3 Michelle 2014-11-15
5     Gary 2015-03-27

In [9]:
# Add the "dept" column

emp.data$dept <- c("IT", "Operations", "IT", "HR", "Finance")
v <- emp.data
print(v)

  emp.id emp_name salary start_date stringAsFactors       dept
1      1     Rick 623.30 2012-01-01           FALSE         IT
2      2      Dan 515.20 2013-09-23           FALSE Operations
3      3 Michelle 611.00 2014-11-15           FALSE         IT
4      4     Ryan 729.00 2014-05-11           FALSE         HR
5      5     Gary 843.25 2015-03-27           FALSE    Finance

In [11]:
# Add new row

# Create the first data frame

emp.data <- data.frame(
emp_id = c (1:5), 
   emp_name = c("Rick","Dan","Michelle","Ryan","Gary"),
   salary = c(623.3,515.2,611.0,729.0,843.25), 
   
   start_date = as.Date(c("2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11",
      "2015-03-27")),
   dept = c("IT","Operations","IT","HR","Finance"),
   stringsAsFactors = FALSE
)


# Create the second data frame

emp.newdata <- data.frame(
   emp_id = c (6:8), 
   emp_name = c("Rasmi","Pranab","Tusar"),
   salary = c(578.0,722.5,632.8), 
   start_date = as.Date(c("2013-05-21","2013-07-30","2014-06-17")),
   dept = c("IT","Operations","Fianance"),
   stringsAsFactors = FALSE
)


# Bind the two data frames

emp.finaldata <- rbind(emp.data, emp.newdata)
print(emp.finaldata)

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match